:root {
    --orange: #ffb319;
    --yellow: #ffe194;
    --white: #e8f6ef;
    --green: #b8dfd8;
    --blue: #456990;
}


body {
    background: linear-gradient(var(--orange), var(--white));
    color: var(--blue);
    font-size: 24px;
    font-family: Roboto;
}

nav {
    padding-bottom: 1em;
}

main {
    min-height: 17em;
    background: linear-gradient(var(--white), var(--yellow));
    padding: 10px 0;
    border-radius: 25px;
}

footer {
    padding-top: 10px;
}

li {
    padding: 5px;
}

a, a:visited {
    color: #511c29;
    text-decoration: none;
}

a:hover {
    color: #b26363;
    text-decoration: underline;
}

img {
    max-width: 56em;
}

.centerElement {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.centerText {
    text-align: center;
}

.orange-border {
    border: solid var(--orange) 10px;
    border-radius: 25px;
}