section {
    width: 50em;
    margin: auto;
    margin-bottom: 5em;
    margin-top: 5em;
    border: 5px solid var(--orange);
    border-radius: 15px;
}

p {
    width: 30em;
    margin: auto;
}

ul {
    margin-left: 5em;
    margin-right: 5em;
}