main {
    width: 750px;
    margin: auto;
}

label {
    text-align: right;
}

fieldset {
    background-color: var(--blue);
    color: var(--yellow);
    width: 500px;
    height: 150px;
}

legend {
    color: black;
}

select {
    width: 100px;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    padding-right: 5em;
}

#button {
    background-color: var(--blue);
    color: var(--white);
}