main {
    width: 750px;
    margin: auto;
}

fieldset {
    background-color: var(--blue);
    color: var(--yellow);
    width: 500px;
    height: 150px;
}

legend {
    color: black;
}

select {
    width: 100px;
}

#button {
    background-color: var(--blue);
    color: var(--white);
}