img {
    max-width: 700px;
    height: auto;
}

input {
    width: 100px;
    height: auto;
}

section {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}