main {
    padding-bottom: 2em;
}

form {
    border: 1px solid var(--blue);
    width: 15em;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form:nth-child(0) {
    margin-left: 2em;
}

table {
    margin: auto;
    margin-top: 2em;
    width: 15em;
}

button, #btn_add {
    width: 10em;
    height: 2em;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--blue)
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.border {
    border: solid 2px var(--blue);
    border-radius: 
}

.marginLeft {
    margin-left: 1.5em;
}

#btn_add {
    align-self: center;
}

#results {
    width: 15em;
    margin: auto;
}

#results > * {
    text-align: center;
}