:root {
    --black: #181816;
    --white: #e8e7e8;
    --lightGray: #c6c6c8;
    --darkGray: #747474;
    --purple: #9082b7;
    --pink: #bb84c3;
}

body {
    font-family: 'Poppins';
    font-size: 24px;
    color: var(--black);
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
}

h1 {
    font-family: 'Playball';
    text-align: center;
    color: var(--purple);
}

h2 {
    text-align: center;
    color: var(--purple);
}

nav {
    text-align: center;
}

nav > * {
    margin: 0 1em;
}

a {
    color: var(--black);
    text-decoration: none;
}
a:hover {
    color: var(--pink);
    text-decoration: underline;
}

main {
    width: 50em;
    margin: auto;
    min-height: 20em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
}

img {
    display: block;
}

.container-card {
    display: flex;
    margin: 1em 0;
}

.card {
    width: 12.5em;
    height: 3em;
    background-color: var(--lightGray);
    text-decoration: none;
    text-align: center;
    border-radius: 1em;
    color: var(--pink);
}
.card:hover {
    text-decoration: none;
    height: 8em;
}

#nav-selected {
    color: var(--purple);
    text-decoration: underline;
}