strong {
    color: var(--pink);
}

main > img {
    width: 100%;
    height: 20em;
}

.container-card {
    justify-content: space-between;
}

.card {
    font-size: 30px;
    height: 3em;
}
.card:hover {
    height: 4em;
}