strong {
    color: var(--pink);
}

main > img {
    width: 100%;
    height: 20em;
}

.container-card {
    justify-content: space-between;
}

.card {
    font-size: 30px;
    width: 12em;
    height: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card:hover {
    height: auto;
}